/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: dot;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #1F1E1E;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}
p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}
a,
a:visited {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-decoration: none;
  color: white;
}
.topNav {
  width: 100%;
  margin: 5% 0% 1% 0%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .topNav {
    margin: 0 auto;
    flex-direction: column;
  }
}
.topNav .chefPortTop {
  width: 20%;
  margin-left: 10%;
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .topNav .chefPortTop {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 6rem 0 4rem 0;
  }
}
.topNav .chefPortTop h1 .Chef {
  color: #07FE20;
}
.topNav .chefPortTop h1 .Port {
  color: white;
}
.topNav .chefPortTop h1 .Period {
  color: #07FE20;
}
.topNav .topLinksNav {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  font-size: 2.1rem;
  color: white;
}
@media (max-width: 500px) {
  .topNav .topLinksNav {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .topNav .topLinksNav a {
    padding-bottom: 4rem;
  }
}
.topNav .navButton {
  width: 15%;
  font-size: 2.4rem;
  background-color: #07FE20;
  padding: 0.8rem 0.2rem;
  margin-right: 6%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
}
@media (max-width: 500px) {
  .topNav .navButton {
    width: 60%;
    margin: 0 auto 4rem auto;
  }
}
.topNav .navButton a {
  color: #1F1E1E;
}
.headerContainer img {
  width: 100%;
  height: auto;
  position: relative;
}
.headerContainer .chefPortHeader {
  position: absolute;
  width: 100%;
  margin: -30% auto 0 auto;
  display: flex;
  justify-content: center;
  font-size: 7.2rem;
}
@media (max-width: 500px) {
  .headerContainer .chefPortHeader {
    margin: -20% auto 0 auto;
    font-size: 4.8rem;
  }
}
.headerContainer .chefPortHeader h1 .Chef {
  color: #07FE20;
}
.headerContainer .chefPortHeader h1 .Port {
  color: white;
}
.headerContainer .chefPortHeader h1 .Period {
  color: #07FE20;
}
.headerContainer .headerNav {
  position: absolute;
  margin-top: -7%;
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  font-size: 7.2rem;
  opacity: 50%;
}
@media (max-width: 500px) {
  .headerContainer .headerNav {
    display: none;
  }
}
.headerContainer .headerNav a {
  color: #108E0C;
}
.headerContainer .headerSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1% 0%;
  font-size: 1.8rem;
  background-color: #2F2D2D;
}
@media (max-width: 500px) {
  .headerContainer .headerSearch {
    width: 100%;
    flex-direction: column;
  }
}
.headerContainer .headerSearch p {
  width: 45%;
  padding-top: 0.25%;
  font-style: italic;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}
@media (max-width: 500px) {
  .headerContainer .headerSearch p {
    width: 100%;
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
}
.headerContainer .headerSearch input {
  width: 45%;
  color: #1F1E1E;
  background-color: #1F1E1E;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .headerContainer .headerSearch input {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
  background-color: #2F2D2D;
}
@media (max-width: 500px) {
  footer {
    padding-bottom: 4rem;
  }
}
footer h1 {
  font-size: 4.8rem;
  margin-top: 193px;
  padding-bottom: 56px;
}
@media (max-width: 500px) {
  footer h1 {
    margin-top: 8rem;
    padding-bottom: 4rem;
  }
}
footer h1 .Chef {
  color: #07FE20;
}
footer h1 .Port {
  color: white;
}
footer h1 .Period {
  color: #07FE20;
}
footer .footerImages {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2.5rem;
}
footer .footerImages img {
  border: 1px solid white;
  border-radius: 100%;
  padding: 2rem;
}
footer #facebook {
  padding-right: 2.3rem;
  padding-left: 2.3rem;
}
footer nav {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10.1rem;
}
@media (max-width: 500px) {
  footer nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
  }
}
footer nav a {
  color: white;
  font-size: 2.1rem;
}
@media (max-width: 500px) {
  footer nav a {
    font-size: 1.4;
    padding-bottom: 2rem;
  }
}
footer p {
  font-size: 2rem;
  color: #828080;
}
@media (max-width: 500px) {
  footer p {
    font-size: 1rem;
  }
}
.headlineSection {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 8.9rem auto 2rem auto;
  font-size: 6rem;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  color: #07FE20;
  background-color: #2F2D2D;
}
@media (max-width: 500px) {
  .headlineSection {
    width: 100%;
    margin: 2rem auto 2rem auto;
    font-size: 2.4rem;
  }
}
.navButton {
  width: 20%;
  font-size: 2.4rem;
  color: #1F1E1E;
  background-color: #07FE20;
  padding: 0.8rem 0.2rem;
  margin: 0 auto 4rem auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .navButton {
    width: 60%;
    margin: 0 auto 2rem auto;
  }
}
.navButton a {
  color: #1F1E1E;
}
.interactSection {
  width: 80%;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .interactSection {
    width: 100%;
    flex-direction: column;
  }
}
.interactSection .interactImg {
  width: 40%;
  padding: 2% 0;
  background-color: #07FE20;
  text-align: center;
}
@media (max-width: 500px) {
  .interactSection .interactImg {
    display: none;
  }
}
.interactSection .interactText {
  width: 60%;
  padding: 2% 0;
  background-color: #2F2D2D;
}
@media (max-width: 500px) {
  .interactSection .interactText {
    width: 100%;
  }
}
.interactSection .interactText ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 90%;
  padding-left: 6rem;
}
.interactSection .interactText ul li {
  font-size: 4.8rem;
  color: #07FE20;
}
@media (max-width: 500px) {
  .interactSection .interactText ul li {
    font-size: 2.4rem;
  }
}
.phoneSection .phonePhones {
  display: flex;
  justify-content: center;
  padding: 4rem;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .phoneSection .phonePhones {
    width: 100%;
    justify-content: center;
  }
}
.phoneSection .phonePhones #phoneTrioOne {
  padding-right: 3rem;
}
@media (max-width: 500px) {
  .phoneSection .phonePhones #phoneTrioOne {
    padding: 0;
  }
}
.phoneSection .phonePhones #phoneTrioTwo {
  position: absolute;
  padding: 10rem;
  z-index: 99;
}
@media (max-width: 500px) {
  .phoneSection .phonePhones #phoneTrioTwo {
    display: none;
  }
}
.phoneSection .phonePhones #phoneTrioThree {
  padding-left: 3rem;
}
@media (max-width: 500px) {
  .phoneSection .phonePhones #phoneTrioThree {
    display: none;
  }
}
.phoneSection .phoneButtons {
  width: 80%;
  padding: 15rem 0 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .phoneSection .phoneButtons {
    width: 100%;
    padding: 4rem 0 4rem 0;
  }
}
.phoneSection .phoneButtons #phoneButtonOne {
  color: #07FE20;
  background-color: #2F2D2D;
  border-radius: 10px;
  padding: 1rem 8rem;
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .phoneSection .phoneButtons #phoneButtonOne {
    width: 48%;
    padding: 1rem 4rem;
    text-align: center;
  }
}
.phoneSection .phoneButtons #phoneButtonTwo {
  color: #1F1E1E;
  background-color: #07FE20;
  border-radius: 10px;
  padding: 1rem 8rem;
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .phoneSection .phoneButtons #phoneButtonTwo {
    width: 48%;
    padding: 1rem 4rem;
    text-align: center;
  }
}
.imagesSection {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .imagesSection {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
.imagesSection img {
  width: 33%;
  height: auto;
}
@media (max-width: 500px) {
  .imagesSection #imagesSectionOne {
    display: none;
  }
}
@media (max-width: 500px) {
  .imagesSection #imagesSectionTwo {
    width: 48%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .imagesSection #imagesSectionThree {
    width: 48%;
    height: auto;
  }
}
.videoSection {
  width: 90%;
  margin: 10rem auto 10rem auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .videoSection {
    margin: 4rem auto 4rem auto;
  }
}
@media (max-width: 500px) {
  .videoSection #videoOne {
    width: 412.55px;
  }
}
@media (max-width: 500px) {
  .videoSection #videoTwo {
    display: none;
  }
}
@media (max-width: 500px) {
  .videoSection #videoThree {
    display: none;
  }
}
.notAChefSection {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 8.9rem auto 2rem auto;
  font-size: 6rem;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  margin-bottom: 10rem;
  color: #07FE20;
  background-color: #2F2D2D;
}
@media (max-width: 500px) {
  .notAChefSection {
    width: 100%;
    font-size: 2.4rem;
    margin: 0 auto;
  }
}
.textSection {
  padding: 15rem 0;
}
@media (max-width: 500px) {
  .textSection {
    padding: 4rem 0 4rem 0;
  }
}
.textSection h3 {
  margin-left: 25%;
  font-size: 4.8rem;
  color: #828080;
  padding-bottom: 5rem;
}
@media (max-width: 500px) {
  .textSection h3 {
    margin-left: 20%;
    font-size: 2.4rem;
  }
}
.textSection h2 {
  padding-bottom: 10rem;
  margin-left: 25%;
  color: #C4C4C4;
  font-size: 6rem;
}
@media (max-width: 500px) {
  .textSection h2 {
    margin-left: 20%;
    font-size: 3.6rem;
    padding-bottom: 5rem;
  }
}
.textSection h2 .Place {
  color: #07FE20;
}
.textSection a {
  width: 60%;
  font-size: 2.4rem;
  color: #1F1E1E;
  background-color: #07FE20;
  padding: 0.8rem 0.2rem;
  margin: 0 auto 4rem auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .textSection a {
    margin: 0 auto;
  }
}
.lastImgSection {
  width: 80%;
  margin: 0 auto 10rem auto;
  height: auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .lastImgSection {
    width: 100%;
    margin-bottom: 4rem;
  }
}
.lastImgSection img {
  width: 100%;
  height: auto;
}
.aboutSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1% 0%;
  font-size: 1.8rem;
  background-color: #2F2D2D;
}
@media (max-width: 500px) {
  .aboutSearch {
    width: 100%;
    flex-direction: column;
  }
}
.aboutSearch p {
  width: 45%;
  padding-top: 0.25%;
  font-style: italic;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutSearch p {
    width: 100%;
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
}
.aboutSearch input {
  width: 45%;
  color: #1F1E1E;
  background-color: #1F1E1E;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .aboutSearch input {
    width: 100%;
  }
}
.teamMembers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.teamMembers .teamMemberCard {
  color: white;
  font-size: 3rem;
  height: 360px;
  width: 48%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .teamMembers .teamMemberCard {
    width: 100%;
  }
}
.teamMembers .teamMemberCard p {
  color: #07FE20;
  font-size: 1.5rem;
}
.teamMembers .teamMemberCard img {
  width: 250px;
  height: 275px;
}
