footer {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:10rem;
    background-color:@section-color;

    @media @mobile {
        padding-bottom: 4rem;
    }
    
    h1 {
        font-size: 4.8rem;
        margin-top:193px;
        padding-bottom:56px;

        @media @mobile {
            margin-top: 8rem;
            padding-bottom: 4rem;
        }
        
        .Chef {
            color: @primary-color;
        }
        .Port {
            color: white;
        }
        .Period {
            color: @primary-color;
        }
     }
    .footerImages{
        width:25%;
        display:flex;
        justify-content: space-evenly;
        padding-bottom:2.5rem;
       img{
        border:1px solid white;
        border-radius:100%;
        padding:2rem;
      
      } 
    
    }
    #facebook{
        padding-right:2.3rem;
        padding-left:2.3rem;
    }
    
    nav{
        width:45%;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding-bottom: 10.1rem;

        @media @mobile {
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-bottom: 2rem;
        }
        a{
             color: white;
            font-size: 2.1rem;

            @media @mobile {
                font-size: 1.4;
                padding-bottom: 2rem;
            }
            }
        a:hover {
            color: @primary-color;
        }    
        }
    p{
        font-size: 2rem;
        color:  #828080;

        @media @mobile {
            font-size: 1rem;
        }
    }
}

