.topNav {
    width: 100%;
    margin: 5% 0% 1% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .chefPortTop {
        width: 20%;
        margin-left: 10%;
        font-size: 2.4rem;

        h1 {
            .Chef {
                color: @primary-color;
            }
            .Port {
                color: white;
            }
            .Period {
                color: @primary-color;
            }
        }
    }
    .topLinksNav {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        font-size: 2.1rem;
        color: white;
    }
    .navButton {
        width: 20%;
        font-size: 2.4rem;
        background-color: @primary-color;
        color: @bg-color;
        padding: .8rem .6rem;
        margin-right: 6%;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }
}
.headerContainer {
    img {
        width: 100%;
    }
    .chefPortHeader {
        margin-top: -30%;
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        font-size: 7.2rem;

        h1 {
            .Chef {
                color: @primary-color;
            }
            .Port {
                color: white;
            }
            .Period {
                color: @primary-color;
            }
        }
    }
    .headerNav {
        margin-bottom: 1%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 7.2rem;
        color: @headernav-color;
        opacity: 50%;

    }
    .headerSearch {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow:1;
        padding: 1% 0%;
        font-size: 1.8rem;
        background-color: @section-color;

        p {
            width: 55%;
            padding-top: 0.25%;
            font-style: italic;
            font-size: 1.8rem;
            color: white;
            
        }
        input {
            width: 45%;
            background-color: #828080;
            color: @bg-color;
            border-radius: 5px;

        }
    }
}

