.topNav {
    width: 100%;
    margin: 5% 0% 1% 0%;
    .flexMixin(flex; space-around);
    flex-direction: row;
    align-items: center;

    @media @mobile {
        margin: 0 auto;
        flex-direction: column;
        
    }

    .chefPortTop {
        width: 20%;
        margin-left: 10%;
        font-size: 2.4rem;

        @media @mobile {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 6rem 0 4rem 0;
        }
        h1 {
            .Chef {
                color: @primary-color;
            }
            .Port {
                color: white;
            }
            .Period {
                color: @primary-color;
            }
        }
    }
    .topLinksNav {
        .flexMixin(flex; space-evenly);
        width: 60%;
        font-size: 2.1rem;
        color: white;

        @media @mobile {
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            align-items: center;
        }

        a {
            @media @mobile {
                padding-bottom: 4rem;
            }
        }
        a:hover {
            color: @primary-color;
        }
    }
    .navButton {
        width: 15%;
        font-size: 2.4rem;
        background-color: @primary-color;
        padding: .8rem .2rem;
        margin-right: 6%;
        margin-top: 4rem;
        .flexMixin(flex; center);
        align-items: center;
        border-radius: 10px;
        text-decoration: none;

        @media @mobile {
            width: 60%;
            margin: 0 auto 4rem auto;
        }

        a {
            color: @bg-color;
        }
    }
}
.headerContainer {
    

    img {
        width: 100%;
        height: auto;
        position: relative;
    }
    .chefPortHeader {
        position: absolute;
        width: 100%;
        margin: -30% auto 0 auto;
        .flexMixin(flex; center);
        font-size: 7.2rem;

        @media @mobile {
            margin: -20% auto 0 auto;
            font-size: 4.8rem;
        }

        h1 {
            .Chef {
                color: @primary-color;
            }
            .Port {
                color: white;
            }
            .Period {
                color: @primary-color;
            }
        }
    }
    .headerNav {
        position: absolute;
        margin-top: -7%;
        margin-bottom: 1%;
        width: 100%;
        .flexMixin(flex; space-between);
        align-self: flex-end;
        font-size: 7.2rem;
        opacity: 50%;

        @media @mobile {
            display: none;
        }

        a {
            color: @headernav-color;
        }
    }
    .headerSearch {
        .flexMixin(flex; center);
        align-items: center;
        flex-grow:1;
        padding: 1% 0%;
        font-size: 1.8rem;
        background-color: @section-color;

        @media @mobile {
            width: 100%;
            flex-direction: column;
        }

        p {
            width: 45%;
            padding-top: 0.25%;
            font-style: italic;
            font-size: 1.4rem;
            color: white;
            text-align: center;

            @media @mobile {
                width: 100%;
                font-size: 1.4rem;
                padding: 0.5rem 0;
            }
            
        }
        input {
            width: 45%;
            .colorsMixin(@bg-color; @bg-color);
            border-radius: 5px;

            @media @mobile {
                width: 100%;
            }
        }
    }
}

